@font-face {
  font-family:'pontano';
  src:url('../fonts/pontano.ttf');
  font-style:normal;
  font-weight: normal;
}

@font-face {
  font-family:'volkhov';
  src:url('../fonts/volkhov.ttf');
  font-style:normal;
  font-weight:normal;
}
