html{
  background-color: rgba(220, 208, 192, .5);
}
/*This is the CSS for the regular pages header*/
.header{
  background-image: url("img/bobnav.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:45vh;
  width:100%;
  flex: auto;
  flex-wrap: wrap;
  border-top: none;
}

.header img{
  background-color: rgba(220, 208, 192, .5);
  background-position: right;
  background-size: auto;
  float:left;
  width:75%;
  padding-left: 20px;
  padding: 1em;
}


.nav{
  background-color:rgba(220, 208, 192, .8);
  font-size: 22pt;
  text-align: center;
  width:50%;
  margin:20pt;
  padding:20pt;
  display:flex;
  flex-direction: row;
  letter-spacing: normal;
  margin-top: 5em;
  float:left;
  -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

}
.nav a{
  font-family:'pontano', serif;
  padding:.5em;
  border-bottom: 6pt solid rgba(168, 168, 170, 0.78);
  text-decoration: none;
  color:black;
}
.nav a:hover{
  background-color: rgba(202, 209, 219, .3);
  color:rgba(35, 114, 219, 0.68);
}
.content{
  background-color: rgba(220, 208, 192, .8);
  border-top: 5px solid;
  display:inline-block;
  font-family:'pontano';
}
.questions{
  border-left: 5px solid;
  font-family:'volkhov';
  margin-left: 20px;
  font-size: 12pt;
  padding-left: 12px;
}
.break-img{
  background-image: url('img/falls.jpg');
  width:50%;
  height:600px;
  background-repeat: no-repeat;
  margin-left:auto;
  margin-right: auto;
}
