html{
  background-color: rgba(220, 208, 192, .5);
}
/*This is the CSS for the regular pages header*/

.header{
  background-image: url("img/bobnav.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:45vh;
  width:100%;
  flex: auto;
  flex-wrap: wrap;
  border-top: none;
}

.header img{
  background-color: rgba(220, 208, 192, .5);
  background-position: right;
  background-size: auto;
  float:left;
  width:100%;
  height:auto;
  padding-left: 20px;
  padding: 1em;
}

.nav{
  background-color:rgba(220, 208, 192, .8);
  font-size: 20pt;
  text-align: center;
  margin:20pt;
  padding:20pt;
  display:flex;
  flex-direction: column;
  letter-spacing: normal;
  float:left;
}
.nav a{
  font-family:'pontano', serif;
  padding:.5em;
  border-bottom: 6pt solid rgba(168, 168, 170, 0.78);
  text-decoration: none;
  color:black;
}
.nav a:hover{
  background-color: rgba(202, 209, 219, .3);
  color:rgba(35, 114, 219, 0.68);
}
.content{
  background-color: rgba(220, 208, 192, .8);
  border-top: 5px solid;
  display:inline-block;
  font-family:'pontano';
}
.questions{
  border-left: 5px solid;
  font-family:'volkhov';
  margin-left: 20px;
  font-size: 12pt;
  padding-left: 12px;
}
.break-img{
  background-image: url('img/falls.jpg');
  width:50%;
  height:600px;
  background-repeat: no-repeat;
  margin-left:auto;
  margin-right: auto;
}
.resource-img {
  background-image:url('img/glacierpano.JPG');
  background-position: center;
  background-size: cover;
  background-attachment:scroll;
  background-repeat: no-repeat;
  height: 70vh;
  width:75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10pt;
  padding-bottom: 10pt;
  border-bottom: 6pt solid rgba(168, 168, 170, 0.78);
  border-top: 6pt solid rgba(168, 168, 170, 0.78);
}

.business-img{
  background-image: url('img/workshop.JPG');
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height:40vh;
  width:50%;
  margin:auto;
  margin-top: 40pt;
  border-bottom: 6pt solid rgba(168, 168, 170, 0.78);
  border-top: 6pt solid rgba(168, 168, 170, 0.78);
}

/*Responsive*/
@media screen and (min-width:500px){
  .nav{flex-direction: row;;font-size: 14pt; }
  .nav a{border-top: 6pt solid rgba(168, 168, 170, 0.78);}
  .resource-img{background-attachment: fixed;}
}
@media screen and (min-width:1000px){
  .header img{width:50%; margin-left: 25%;margin-right: 25%;}
  .nav{float: right; margin:12vh 0 0 10px;}
  .answers{width:50%; margin:30px 25% 30px 25%;border-bottom: 6pt solid rgba(168, 168, 170, 0.78);border-top: 6pt solid rgba(168, 168, 170, 0.78); }
  .questions{margin-left:10%;width:45%;}
  .packages {width:75%; margin:auto;}
}
