

.header{
  background-image: url("img/bob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
  width:100%;
  flex: auto;
  flex-wrap: wrap;
  border-top: none;
}

.header header.title{
  background-color: rgba(202, 209, 219, 0.5);
  letter-spacing: 12px;
  position:relative;
  font-size: 30pt;
  float:right;
  width:75%;
  padding-left: 20px;
  text-align: right;
  padding-right: 1em;
}


.nav{
  background-color:rgba(212, 212, 212, 0.8);
  font-size: 20pt;
  text-align: center;
  margin:20pt;
  padding:20pt;
  display:flex;
  flex-direction: row;
  letter-spacing: normal;
  margin-top: 8em;
  float:right;
}
.nav a{
  padding:.5em;
  border-top: 6pt solid rgba(168, 168, 170, 0.78);
  border-bottom: 6pt solid rgba(168, 168, 170, 0.78);
  text-decoration: none;
  color:black;
}
.nav a:hover{
  background-color: rgba(202, 209, 219, .3);
  color: blue;
  border-right:5pt solid rgba(168, 168, 170, 0.78);
  border-left:5pt solid rgba(168, 168, 170, 0.78);
}
