html{
  background-color: #dcd0c0;
}
/*This is the CSS for the homepage header*/
.header{
  background-image: url("img/bob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
  width:100%;
  flex: auto;
  flex-wrap: wrap;
  border-top: none;
  border-bottom: 20px solid;
}

.header header.title{
  background-color: rgba(220, 208, 192, .5);
  position:relative;
  float:right;
  width:75%;
  padding-left: 20px;
  text-align: right;
  padding: 1em;
}


.nav{
  background-color:rgba(220, 208, 192, .8);
  font-size: 20pt;
  text-align: center;
  margin:20pt;
  padding:20pt;
  display:flex;
  flex-direction: row;
  letter-spacing: normal;
  margin-top: 5em;
  float:right;
}
.nav a{
  font-family:'pontano', serif;
  padding:.5em;
  border-top: 6pt solid rgba(168, 168, 170, 0.78);
  border-bottom: 6pt solid rgba(168, 168, 170, 0.78);
  text-decoration: none;
  color:black;
}
.nav a:hover{
  background-color: rgba(202, 209, 219, .3);
  color:rgba(35, 114, 219, 0.68);
  border-right:5pt solid rgba(168, 168, 170, 0.78);
  border-left:5pt solid rgba(168, 168, 170, 0.78);
}
/*This is the end of the CSS for the homepage header*/
/*The following is going to be for the side column*/
.aside{
  font-size: 15pt;
  background-color: rgba(192, 178, 131, .7);
  width:25%;
  height:100vh;
  float:left;
  border-right: solid 5pt;
  border-top: solid 5pt;
  border-bottom: solid 5pt;
  padding:3em;
  margin-top: 3em;
  font-family:'volkhov-reg', sans-serif;
  overflow-y:auto;

}
.content{
  background-image: url('img/falls.jpg');
  background-position: left;
  background-size: cover;
  height:900pt;
  width:100%;
}
